= form_for @group do |f|
  .col-md-6
    %label
      Group name
    = f.text_area :name, class: "form-control", reguired: true
  .col-md-6
    %label
      Description
    = f.text_area :description, class: "form-control", reguired: false

  %hr
  .col-md-12

    %button.btn.btn-success
      Edit