.col-md-12

  %h2
    Group list


  - @groups.each do |group|
    .col-md-3
      .jumbotron
        %h3
          %span.glyphicon.glyphicon-user
          = link_to group.name, group_path(group)
        %p
          = link_to "Update", edit_group_path(group)
          |
          = link_to "Remove", group, method: :delete, data: {confirm: "You sure?"}
        %br