= form_for @group do |f|
  .col-md-4
    %label
      Group name
    = f.text_field :name, class: "form-control", reguired: true
  .col-md-4
    %label
      Description
    = f.text_field :description, class: "form-control", reguired: false
  .col-md-4
    %label
      Blacklist
    = f.check_box :blacklist, class: "form-control", reguired: true

  %hr
  .col-md-12

    %button.btn.btn-success
      Create group