.col-md-12
  .jumbotron
    .row
      .col-md-4
        %h2
          = @group.name
        %h4
          Description:
          = @group.description
      .col-md-4
        %h3
          Import emails from CSV file
        = form_tag group_import_recipients_path(@group), multipart: true do
          = file_field_tag :file
          %br
          = submit_tag "Import", class: "btn btn-success"
      .col-md-4.text-right
        = link_to "Update group metainfo", edit_group_path(@group), class: "btn btn-primary"
  .col-md-12
    %hr
    %h3
      List of recipients
    = paginate @recipients

    %table.table
      - @recipients.each do |recipient|
        .col-md-6
          %tr
            %td
              = recipient.email
            %td
              = recipient.name
            %td
              = recipient.surname
            %td
              = recipient.created_at
            %td
              = link_to "Remove ", recipient, method: :delete ,method: :delete

    = paginate @recipients