.col-md-12

  %h2
    Campaign list


  - @campaigns.each do |campaign|
    .col-md-4
      .jumbotron
        %h3
          %span.glyphicon.glyphicon-send
          = link_to campaign.name, campaign_path(campaign)
        %p
          = link_to "Update", edit_campaign_path(campaign)
          |
          = link_to "Remove", campaign, method: :delete, data: {confirm: "You sure?"}
        %br
          Groups:
          = campaign.groups.pluck(:name).join(" ")

          %br
          Created:
          = campaign.created_at