= form_for @campaign do |f|
  .col-md-6
    %label
      Campaign name
    = f.text_field :name, class: "form-control", reguired: true
  .col-md-6
    %label
      Email subject
    = f.text_field :subject, class: "form-control", reguired: true
  .col-md-12
    %label
      Email body
    = f.cktext_area :text, class: "form-control", reguired: true
    %label
      Email footer
    = f.cktext_area :footer, class: "form-control"
  .col-md-4
    %label
      = f.label :sender
    = f.text_field :sender, class: "form-control", reguired: true
  .col-md-4
    %label
      = f.label :sender
    = f.text_field :sender2, class: "form-control", reguired: true
  .col-md-4
    %label
      = f.label :sender
    = f.text_field :sender3, class: "form-control", reguired: true

  .col-md-12
    %h2
      Select groups:
    - @groups.each do |group|
      = check_box_tag "campaign[group_ids][]", group.id, @campaign.groups.include?(group)
      = group.name

    %hr
  .col-md-12

    %button.btn.btn-success
      Create