.col-md-12
  .jumbotron
    .row
      .col-md-12
        %h2
          = @campaign.name
      .col-md-6
        %h4
          Sender 1:
          = @campaign.sender
          %br
          Sender 2:
          = @campaign.sender2 unless @campaign.sender2.nil?
          %br
          Sender 3:
          = @campaign.sender3 unless @campaign.sender3.nil?
      .col-md-3.text-right
        = link_to "Send bulk mail", campaign_send_bulk_email_path(@campaign), method: :get, class: "btn btn-success"
      .col-md-3.text-left
        = link_to "Update campaign", edit_campaign_path(@campaign), class: "btn btn-info"
  .col-md-12
    .border-small
      %h3
        Subject:
      = @campaign.subject

  .col-md-6
    .border
      %h3
        Text:

      = @campaign.text.html_safe
  .col-md-6
    .border
      %h3
        Footer:

      = @campaign.footer.html_safe


  .col-md-12
    %h3
      Recipient list

    = paginate @recipients
    %table.table
      - @recipients.each do |recipient|
        %tr
          %td
            = recipient.email
          %td
            = recipient.name
          %td
            = recipient.surname
          %td
            = link_to "Remove ", recipient, method: :delete ,method: :delete
          %td
            = "Sent" if SentMail.where(:email => recipient.email, :campaign_id => @campaign.id).count > 0
            = "Not Sent" if SentMail.where(:email => recipient.email, :campaign_id => @campaign.id).count == 0

    = paginate @recipients
