/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.main {
  margin-top: 20px;
}


.border{
  padding: 5px;
  border-bottom: 5px solid silver;
  min-height: 200px;
  margin-top: 10px;
}

.border-small{
  padding: 5px;
  border-bottom: 5px solid silver;
}

.min-height{
  min-height: 500px;
}

.container-fluid .jumbotron{
  padding: 10px;
}