%nav.navbar.navbar-inverse.navbar-fixed-top.padding
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Campaigns", campaigns_path
      %li
        = link_to "Create campaign", new_campaign_path(@campaign)

      %li
        = link_to "Groups", groups_path
      %li
        = link_to "Create group", new_group_path(@group)

    %ul.nav.navbar-nav.navbar-right
      Right

%hr