!!!
%html
  %head
    %title Postovy holubok
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "layouts/menu"
    .container-fluid.page-row-expanded
      .col-sm-12.col-sm-offset-0.col-md-12.col-md-offset-0.main
        = yield